.course-adder {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 100%;
  padding-top: 20px;
}

.course-adder * {
  box-sizing: border-box;
}

.course-adder .course-joiner {
  margin: auto;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  max-width: 420px;
}

.course-adder .course-joiner .lbl {
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  width: 80%;
  display: block;
  margin-bottom: 20px;
}

.course-adder .course-joiner .select-button {
  width: 85%;
  color: #ffffff;
  background-color:#1a2228;
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  z-index: 10;
  box-shadow: 9px -19px 21px -23px #0000003d,
    -8px 23px 21px -12px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.course-adder .course-joiner .select-button div:first-child {
  align-items: flex-start;
  float: left;
}

.course-adder .course-joiner .select-button div:last-child {
  position: relative;
}

.course-adder .course-joiner .select-button div:last-child::before {
  content: " ";
  width: 1px;
  height: 40px;
  color: black;
  background-color: #ffffff;
  position: absolute;
  left: -20px;
  top: -11px;
}

.course-adder .course-joiner .select-button span[class*="fa"] {
  align-items: flex-end;
  margin: auto;
}

.course-adder .course-joiner .course-item-wrapper {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative;
}

.course-adder .course-joiner .course-item-wrapper div:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
