.dashboard-forms {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  padding: 26px;
  max-width: 1000px;
  box-sizing: border-box;
}

.dashboard-forms .title1 {
  width: 100%;
  padding-top: 16px;
  margin-bottom: 30px;
  position: relative;
}

.dashboard-forms .title span {
  position: absolute;
  top: 4px;
  left: 250px;
  background-color: #eee;
  padding-right: 17px;
}

.dashboard-forms .title > h2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}

.dashboard-forms .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.dashboard-forms .content > div {
  flex: 1 0 49%;
  box-sizing: border-box;
}

.dashboard-forms .content > div:first-child {
  margin-right: 5px;
  width: 100%;
}

.dashboard-forms .content > div:last-child {
  width: 100%;
  padding-top: 15px;
}

.dashboard-forms .content form {
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
  padding: 15px;
}

.dashboard-forms .content label {
  font-size: 20px;
  letter-spacing: normal;
}

.dashboard-forms .content .form-title {
  padding-bottom: 12px;
  text-align: center;
  padding-top: 3px;
}

.dashboard-forms .content form input {
  transition: all 0.5s ease-out;
  width: 100%;
  background-color: #ffffff;
  font-family: Raleway-SemiBold;
  display: block;
  padding: 10px;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #686868;
  border: none;
  outline: none;
  box-shadow: 1px 1px 8px -2px #000000;
}

.dashboard-forms .content .btn-submit-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-forms .content .submit-btn {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 1px 1px 4px -1px black, -1px -1px 6px -7px black;
  margin-top: 25px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.5s ease-out;
}

.dashboard-forms .content .submit-btn:hover {
  box-shadow: 1px 1px 4px 1px black, -1px -1px 6px -1px black;
}

.dashboard-forms .content form input:focus {
  box-shadow: 2px 2px 10px -1px #000000, -6px -7px 0px -60px #000000;
}

.dashboard-forms .help h2 {
  padding-bottom: 12px;
}

.dashboard-forms .help p {
  padding: 15px;
  padding-top: 7px;
}

.dashboard-forms .help h4 {
  padding: 5px;
  padding-bottom: 0px;
}

.dashboard-forms .help ul {
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  .dashboard-forms .content {
    flex-direction: column;
  }
}
