.editor-container {
  max-width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 1000px) {
  .editor-container {
    padding: 10px;
    margin: 0px;
  }

  .editor-container .content-editable {
    min-width: 100%;
    margin: 0px;
    padding: 45px;
  }
}

.editor-container > div:first-child {
  font-size: 18px;
  margin-bottom: 15px;
}

.editor-container .content-editable .codex-editor {
  max-width: 100%;
}

.content-editable #custom-editor-container {
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 24px 24px -18px rgba(69, 104, 129, 0.33),
    0 9px 45px 0 rgba(114, 119, 160, 0.12);
  box-shadow: 0 24px 24px -18px rgba(69, 104, 129, 0.33),
    0 9px 45px 0 rgba(114, 119, 160, 0.12);
  padding: 70px 50px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.editor-container .content-editable {
  width: 85%;
  min-height: 450px;
  max-width: 950px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 45px;
  border-radius: 30px;
}

.editor-container .content-editable .cdx-input {
  border: 1px solid rgba(201, 201, 204, 0.48);
  box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  font-size: 15px;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
}

.editor-container .content-editable .simple-image {
  max-width: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
}

.editor-container .content-editable .ce-block {
  max-width: 100%;
}

.editor-container .content-editable .ce-block > img {
  max-width: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
}

.editor-container .content-editable .image-tool__caption {
  padding: 10px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor-container .content-editable .cdx-block {
  margin-top: 10px;
}

.editor-container .content-editable .ce-inline-tool-input {
  padding: 20px;
}

.cdx-list--unordered {
  padding-left: 20px;
}

.editor-container ul,
ol {
  margin-left: 35px;
}

.cdx-list {
  margin: 0;
  padding-left: 50px;
  outline: none;
}

.cdx-list > ul,
ol {
  padding-left: 40px;
}

.cdx-list > ol {
  padding-left: 20px;
}

.editor-container .content-editable .ce-paragraph {
  line-height: 1.6em;
  font-size: 15px;
  color: #313649;
}

.editor-container .content-editable .ce-header {
  padding: 1em 0;
  margin: 0;
  line-height: 1.5em;
  outline: none;
  margin-bottom: -0.9em;
  font-weight: bold;
  display: block;
}

.editor-container .content-editable h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.editor-container .content-editable .ce-inline-toolbar__buttons {
  padding: 0 6px;
}

.editor-container .content-editable .ce-conversion-toolbar {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
  box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
  border-radius: 4px;
  z-index: 2;
}

.editor-container .content-editable .ce-toolbar__content {
  max-width: 650px !important;
  margin: 0 auto;
  position: relative;
}

/* .editor-container .content-editable .ce-toolbar { */
/* overflow-x: scroll; */
/* } */

.editor-container .content-editable .ce-conversion-tool {
  display: flex;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.editor-container .content-editable .ce-conversion-toolbar__label {
  color: #707684;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.33px;
  padding: 10px 10px 5px;
  text-transform: uppercase;
}

.editor-container .toolbox {
  min-width: 80%;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0 24px 24px -18px rgba(69, 104, 129, 0.33),
    0 9px 45px 0 rgba(114, 119, 160, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.editor-container .editor-brand {
  position: absolute;
  top: 102px;
}

.editor-container .button {
  max-width: 200px;
  width: 200px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 1px 0 10px rgba(34, 36, 38, 0.15);
  background-color: #25c257;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.84615385em 1.5em 0.84615385em;
  margin-bottom: 40px;
  outline: none;
}

.content-editable .DraftEditor-editorContainer {
  border: 1px solid #d4d4d5;
  min-height: 450px;
  max-width: 950px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 24px 24px -18px rgba(69, 104, 129, 0.33),
    0 9px 45px 0 rgba(114, 119, 160, 0.12);
  font-size: 13px;
  /* color: ; */
}

.content-editable .center-aligment {
  text-align: center;
}

.content-editable .left-aligment {
  text-align: center;
}

.content-editable .right-aligment {
  direction: rtl;
}

.content-editable .block {
  margin: 10px;
}

.content-editable .header-one {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;  
}

.content-editable .header-two	 {
  font-size: 25px;
  font-weight: 800;
  direction: inherit;
}
.content-editable .h3 {
  font-size: 20px;
  font-weight: 600;
}
