.login-component * {
  box-sizing: border-box;
}
.login-component {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #e6e6e6;
  background: -webkit-linear-gradient(bottom, #0250c5, #d4418d);
  position: relative;
  z-index: 1;
}

.login-component::before {
  width: 100%;
  height: 100%;
  display: block;
}

.login-component .login-container {
  margin: auto;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.login-component .p-r-50 {
  padding-right: 50px;
}
.login-component .p-l-50 {
  padding-left: 50px;
}

.login-component .p-t-77 {
  padding-top: 77px;
}

.login-component .p-b-30 {
  padding-bottom: 30px;
}

.login-component .login-container .login-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-component .login-container h1 {
  color: #333333;
  text-align: center;
  font-style: Raleway-Black;
  width: 100%;
  display: block;
  margin-bottom: 55px;
  margin-top: -45px;
  text-transform: uppercase;
  font-size: 30px;
}

.login-component .login-container input {
  transition: all 0.7s ease-out;
  width: 100%;
  height: 62px;
  background-color: #e6e6e6;
  font-family: Raleway-SemiBold;
  display: block;
  padding: 0 30px 0 65px;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 3px;
  color: #686868;
  border: none;
  outline: none;
}

.login-component .login-container .input-wrap {
  width: 100%;
  margin-bottom: 16px;
  z-index: 1;
  position: relative;
}

.login-component .login-container .input-wrap span[class*="fa"] {
  position: absolute;
  top: 24px;
  left: 20px;
}

.login-component .login-container .form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
}

.login-component .login-container button {
  border-radius: 3px;
  font-style: Raleway-Bold;
  transition: all 0.6s;
  padding: 0 25px;
  font-size: 18px;
  z-index: 10;
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 10px 3px,
    rgba(0, 0, 0, 0.24) 0px 2px 10px 3px;
  display: block;
  line-height: 1.5;
  border: none;
  outline: none;
  background-color: #d33f8d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login-component .login-container button:hover {
  background-color: #333333;
}

.login-component .login-container .text-center {
  text-align: center !important;
  width: 100%;
  padding-bottom: 22px;
  padding-top: 42px;
  font-family: Raleway-Regular;
  color: #686868;
  font-size: 16px;
}

.login-component .login-container .text-center span {
  font-family: Raleway-Regular;
  line-height: 1.7;
}

.login-component .login-container .google {
  width: 100%;
  transition: all 0.8;
}

.login-component .login-container .google:hover {
  border: 1px solid #d33f8d;
  color: #d33f8d;
}

.login-component #link:hover {
  color: #d33f8d;
}

@media (max-width: 490px) {
  .login-component .login-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-component {
    padding-right: 15px;
  }
}

.login-component .login-container input:focus {
  box-shadow: 2px 2px 10px #d33f8d, -2px -2px 10px #d33f8d;
}
